<!-- views/inventory/management.ejs -->

    <h1><%= title %></h1>
 
    <% if (typeof message !== 'undefined') { %>
      <div class="flash-message">
        <%= message %>
      </div>
    <% } %>
    
 
 <!-- Display flash message -->

    <!-- Links to Add Classification and Inventory -->
    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>

